#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 20px 0;
}

.buttons img {
  display: flex;
  margin-bottom: 7px;
  width: 200px;
}
button {
  background: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-radius: 5px;
  box-shadow: 10px 10px 5px lightgray;
  transition: transform 0.3s cubic-bezier(0.2, 1, 0.5, 2);
}
button:hover {
  transform: translate3d(-8px, -8px, 0);
}

.timer {
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

.timer-buttons {
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
  display: flex;
}
